<h1><b>Welcome to Beauty Saloon</b>, <%= @appointment.user.email %></h1>
  <p>
    You have successfully submit to website,
    your username is: <%= @appointment.user.first_name %>.<br>
    your total is: <%= @appointment.price %>.<br>
    your appointment time is <%= @appointment.start_time %>.<br>
    your appointment time is <%= @appointment.end_time %>.<br>

  </p>
<p>Thanks for joining and have a great day!</p>
