<div class="ftco-blocks-cover-1">
  <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image:  url(<%= asset_path 'hom_1.jpg' %>)">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-7">
            <h1 class="mb-3">Order Products</h1>
            <p><a href="#" class="btn btn-primary">Learn More</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="ftco-section bg-light">
	<div class="container">
    <div class="heading-section mb-5">
      <div class="ftco-search">
        <div class="container">
          <p id="notice"><%= notice %></p>
            <table class="text-center text-dark table table-hover">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Order</th>
                  <th>Price</th>
                  <th>Discount</th>
                  <th>Discount type</th>
                  <th>Total</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

            <tbody>
              <% @order_products.each do |order_product| %>
                <tr>
                  <td><%= order_product.product_id %></td>
                  <td><%= order_product.order_id %></td>
                  <td><%= order_product.price %></td>
                  <td><%= order_product.discount %></td>
                  <td><%= order_product.discount_type %></td>
                  <td><%= order_product.total %></td>
                  <td><%= link_to 'Show', order_product %></td>
                  <td><%= link_to 'Edit', edit_order_product_path(order_product) %></td>
                  <td><%= link_to 'Destroy', order_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table><div>
            <button class="btn btn-success btn-lg"><%= link_to 'New Order Product', new_order_product_path %></button>
          </div>
          <br>
        </div>
      </div>
    </div>
  </section>
<br>
